/* Color definitions based on the logo */
:root {
    --azul-oscuro: #002366;
    --dorado: #FFD700;
    --blanco: #FFFFFF;
    --gris-claro: #F5F5F5;
    --gris-oscuro: #4B4E6D;
    --gris-medio: #D3D3D3;
}

/* Styles for the top bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azul-oscuro);
    padding: 10px 20px;
    color: var(--blanco);
}

.navbar .titulo {
    font-size: 24px;
    color: var(--blanco);
}

/* Main container */
.container {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

/* File upload panel and model selection */
.panel {
    background-color: var(--gris-claro);
    padding: 20px;
    border-radius: 8px;
    width: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.panel label {
    font-size: 18px;
    color: var(--azul-oscuro);
}

.panel button {
    background-color: var(--azul-oscuro);
    color: var(--blanco);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.panel button img {
    margin-right: 5px; /* Space between icon and text */
}

/* Table styling */
.tabla-resultados {
    background-color: var(--gris-claro);
    border-radius: 8px;
    width: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 400px;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 12px;
    border: 1px solid var(--gris-oscuro);
    text-align: left;
}

table th {
    background-color: var(--azul-oscuro);
    color: var(--blanco);
}

/* Pagination styling */
.pagination {
    margin-top: 10px;
}

.pagination button {
    padding: 8px 12px;
    margin: 2px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.2s;
}

.pagination button.active {
    font-weight: bold;
    background-color: #0056b3; /* Color para resaltar la página activa */
}

.pagination button:hover {
    background-color: yellow; /* Cambia a amarillo al pasar el cursor */
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Button click animation */
.panel button:active,
.pagination button:active {
    transform: scale(0.95); /* Shrink animation on click */
}